# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Visual Studio files
.vs/
*.vcxproj*
*.sln
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.o
texteditor
a.out

# Qt Creator
*.pro.user
*.qmake.stash

# Code::Blocks
*.depend
*.layout

# CLion
.idea/
cmake-build-*/

# Other
*.log
*.tmp
*.swp
*~

# Ignore build directories
build/
bin/
Debug/
Release/